<%- include('../../partials/header'); %>

<main>
  <div>
    <h1>Edit Task</h1>
    <form class="edit-task-form" data-id="<%= task.id %>" action="/tasks" method="put">
      <input class="edit-task-name" type="input" name="taskName" value="<%= task.name %>"/>
      <input type="submit" />
    </form>
  </div>
</main>

<%- include('../../partials/footer'); %>
